@import 'colors.scss';

.agent-wrapper {
  width: 100%;
  color: $white;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
