@import 'colors.scss';

.agent-icons-wrapper {
  width: 100%;
  color: $white;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1.1em;
}

.agent-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 95px);
}
