@import '../../../colors.scss';

.navbar-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: $valorant-red;
  height: 40px;
  z-index: 200;
  padding: 0.5em 1em;

  .navbar-inner-container {
  }
}
