@import 'colors.scss';

.agent-content {
}

.agent-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  img {
    padding: 0.2em;
    max-width: 75px;
    max-height: 75px;
    opacity: 0.5;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .selected {
    opacity: 1;
    border: 1px solid $valorant-yellow;
  }
}
