@import 'colors.scss';

.tier-list-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  width: 1130px;
  margin: 2em auto;
  .tier-list-container {
    margin: 2em 0;
    .tier-list-table {
      border: 1px solid white;
      table-layout: fixed;
      width: 100%;
      justify-content: space-between;
      .tier-list-table-header {
      }
      .tier-list-table-contents {
      }
    }
  }
}
