@import 'colors.scss';

.agent-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 1130px;
  margin: 0 auto;
  justify-content: space-between;

  .description-container {
    width: 100%;
  }
  .agent-info {
    display: flex;
    color: $white;
    text-align: left;
    flex-wrap: wrap;
    margin: 2em 0;
    flex-direction: column;
    font-weight: bold;
    // width: 50%;
  }
  .skill-wrapper {
    // width: 60%;
  }
  .skill .active-skill {
    display: flex;
    color: $white;
  }
  .agent-container {
    width: 30%;
  }
  .skill-container {
    margin: 1em 0em;
    color: $white;

    .skill-inner-container {
      display: flex;
      padding: 0.5em 0;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: $outer-box-black;
      border: 1px solid $inner-box-black;
      margin-bottom: 1em;
      padding: 1em;
      border: 1px solid $valorant-red;
      width: 11em;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background: $inner-box-black-highlight;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .skill-descriptions {
        font-size: 1em;
      }
      .skill-icon {
        width: 70px;
        height: 70px;
        fill: $white;
      }
      .skill-item {
        padding: 0.3em 0;
      }
    }
    .selected {
      border: 1px solid $valorant-yellow;
    }
  }
  .agent-type {
    font-size: 1.5em;
    margin: 0;
  }
  .agent-name {
    color: $valorant-yellow;
    font-size: 3em;
    margin: 0;
  }
}

.skill-item,
.agent-type,
.agent-name,
.skill-name {
  text-transform: uppercase;
}
