@import 'colors.scss';

.agent-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 1130px;
  margin: 0 auto;
  justify-content: space-between;
  .agent-info {
    display: flex;
    color: $white;
    text-align: left;
    flex-wrap: wrap;
    width: 25%;
    margin: 2em 0;
    flex-direction: column;
  }
  .skill-wrapper {
    width: 100%;
  }

  .active-skill {
    display: flex;
    color: $white;
  }
  .agent-container {
    width: 45%;
  }
  .skill-container {
    margin: 1em 0em;
    color: $white;

    .skill-inner-container {
      display: flex;
      padding: 0.5em 0;
      align-items: center;
      .skill-descriptions {
        width: 100%;
      }
      .skill-icon {
        width: 50px;
        height: 50px;
        fill: $white;
        padding-right: 0.5em;
      }
      .skill-item {
        padding: 0.3em 0;
      }
    }
  }
  .agent-type {
    font-size: 1.5em;
    margin: 0;
  }
  .agent-name {
    color: $agent-name;
    font-size: 3em;
    margin: 0;
  }
}
