@import 'colors.scss';

.agent-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 1130px;
  margin: 0 auto;
  justify-content: space-between;
  .description-container {
    padding-top: 2em;
    width: 100%;
  }
  .agent-info {
    display: flex;
    color: $white;
    text-align: left;
    flex-wrap: wrap;
    width: 25%;
    margin: 2em 0;
    flex-direction: column;
  }
  .skill-wrapper {
    width: 60%;
  }
  .skill .active-skill {
    display: flex;
    color: $white;
  }
  .agent-container {
    min-width: 30%;
    max-width: 30%;
  }
  .skill-container {
    margin: 1em 0em;
    color: $white;
    .skill-inner-container {
      display: flex;
      padding: 0.5em 0;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: $outer-box-black;
      border: 1px solid $inner-box-black;
      margin-bottom: 1em;
      padding: 1em;
      min-width: 100%;
      border: 1px solid $valorant-red;
      cursor: pointer;

      .skill-descriptions {
        font-size: 1em;
      }
      .skill-icon {
        width: 75px;
        height: 75px;
        fill: $white;
        padding-right: 0.5em;
      }
      .skill-item {
        padding: 0.3em 0;
      }
    }
    .selected {
      border: 1px solid rgb(255, 231, 185);
    }
  }
  .agent-type {
    font-size: 1.5em;
    margin: 0;
  }
  .agent-name {
    color: $agent-name;
    font-size: 3em;
    margin: 0;
  }
}
