@import 'colors.scss';
.skill-description-container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;

  .skill-name {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.55em;
    font-weight: bold;
    margin-bottom: 0.6em;
    color: $valorant-yellow;
    font-size: 3em;
  }
  .hotkey {
    display: flex;
    justify-content: center;
    background-color: $inner-box-black-highlight;
    border-radius: 5px;
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.5em;
    color: grey;
  }
  .skill-description-wrapper {
    background-color: $outer-box-black;
    border-radius: 2px;

    .skill-description {
      font-size: 1.5em;
    }
    .skill-cost {
      font-size: 1.5em;
    }
    .skill-cost-icon {
      display: inline-block;
      height: 15px;
      width: 15px;
      padding-right: 0.2em;
      margin-left: 0.5em;
    }
    .dot {
      padding-left: 0.5em;
    }
    .skill-use {
      display: inline-block;
      padding-left: 0.5em;
    }
  }
}
