@import 'src/colors';

.navbar-container {
  color: white;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: $outer-box-black;
  height: 50px;
  z-index: 600;
  // padding: 1px 1em;
  border-bottom: solid 1px $valorant-black;

  .navbar-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1130px;
    margin: 0 auto;

    .agent-searchbox {
      .history-overview-searchbox {
        .searchbox-input {
          display: flex;
        }
      }
    }
  }

  .home {
    background: $valorant-red;
    color: white;
    border-style: none;
    padding: 0.5em 1em;
    border-radius: 2px;
    outline: none;
    font-size: 1rem;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;

    li {
      margin-right: 1.3em;
      height: 100%;
      padding: 1rem 0;
      cursor: pointer;

      &.selected {
        font-weight: 700;
        border-bottom: solid white;
        border-bottom-width: 1px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .seperator {
    width: 1px;
    background: $valorant-black;
    // margin-bottom: 1rem;
  }
}
