@import "../../colors.scss";

.searchbox-dropdown-menu {
  background-color: orange;
  position: absolute;
  width: 220px;
  #searchbox-dropdown-agent-list {
    display: flex;
    flex-direction: column;
    padding: 12px 0 0 72px;
  }
}
