@import '../../colors.scss';

.player-wrapper .player-content {
  .history-overview-navigation {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    // background-color: $outer-box-black;
    // margin-bottom: 0.3rem;
    font-weight: 400;
    // padding: 1rem 2rem;
    // padding-bottom: 0;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 0;

      li {
        margin-right: 1.3em;
        height: 100%;
        // padding-bottom: 1rem;

        &.selected {
          font-weight: 700;
          border-bottom: solid white;
          border-bottom-width: 1px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .seperator {
      width: 1px;
      background: white;
      // height: calc(50px - 2em);
      // margin-bottom: 1rem;
    }

    .agent-searchbox {
      display: flex;
      flex-direction: row;
      align-items: center;

      .agent-text {
        padding-right: 1em;
      }
    }
  }

  .overview-container {
    background-color: $inner-box-black;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .flex-row {
      display: flex;
      flex-direction: row;
    }

    table {
      align-items: center;
      tr {
        text-align: center;
      }
    }

    #table2 {
      display: flex;
      align-self: center;
      flex-direction: column;
      padding-left: 1.5rem;

      tr {
        text-align: center;
      }
    }

    .seperator {
      width: 1px;
      background: white;
      height: 6rem;
      margin-right: 1.5rem;
    }
  }
}
