.summary-container {
  flex-direction: column;
  .summary-item {
    display: flex;

    .summary-agent-name {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .summary-kda-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: 1rem;
    }
  }

  .winrate-summary,
  .kda-summary {
    font-size: 1rem;
    font-weight: 600;
  }

  .winrate-breakdown,
  .kda-breakdown {
    font-size: 0.8rem;
  }
}
