@import 'colors.scss';

.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
 .footer-copyright{
  font-family: Helvetica Neue, Roboto, Arial, Sans-Serif;
  font-size: 9px;
  color: $white;
  line-height: 1.5;
  width: 1000px;
 }
}