.agent-searchbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  padding-right: 1.5rem;
  border: solid 1px #d2d3d5;
  width: calc(186px - 1.5rem);
  border-radius: 2px;
  z-index: 400;

  .agent-text {
    padding-right: 1em;
  }
}
