$valorant-black: #161a25;
$valorant-black-alt: #0f1923;
$valorant-red: #ff4654;

$outer-box-black: #222733;
$inner-box-black: #2c303b;
$inner-box-black-highlight: #343842;

$victory: #68ba63;
$victory-border: #68ba6359;
$victory-background: #67ba6321;
$victory-background-highlight: #67ba6330;
$victory-background-fadded: #67ba6310;

$defeat: #df5e59;
$defeat-border: #df5e5959;
$defeat-background: #df5e5921;
$defeat-background-highlight: #df5d5930;
$defeat-background-fadded: #df5d5910;

$temp: #323644;
